$color-primario:#1B3240;
$color-secundario:#D99923;

*{
    padding: 0;
    margin: 0;
}

/*FOOTER*/

footer{
    position: sticky;
    z-index: 9999 !important;
    background-color: rgb(246, 246, 246);
}

.politica_legal{
    font-size: 10px;
    text-decoration: none;
    margin: 5px;
    display: flex;
    justify-content: center;
    color: gray;
}

/*POLÍTICA DE COOKIES*/
.cookie-container {
    position: fixed;
    bottom: 20px;
    left: 20px;
    background:white ;
    color: $color-primario;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    z-index: 999;
}
.cookie-container button {
    background: $color-primario;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}
.cookie-container button:hover {
    background: white;
    color: $color-primario;
    border: 1px solid $color-primario;
}
.hidden {
    display: none;
}
.show {
    opacity: 1;
    transform: translateY(0);
}

.reject-btn {
    background: $color-primario;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 4px;
}
.reject-btn:hover {
    background: white;
    color: $color-primario;
    border: 1px solid $color-primario;
}

/*BOTON WHATSAPP*/
.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #25d366;
    border-radius: 50%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 998;
    transition: transform 0.3s ease-in-out;
}

.whatsapp-button img {
    width: 40px;
    height: 40px;
}

.whatsapp-button:hover {
    transform: scale(1.1);
}



/*HERO SECTION*/

.hero_section {
    position: relative; /* Asegurar que los elementos hijos absolutos se posicionen dentro */
    height: 80vh;
    color: white;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    #background-video {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        z-index: -0.95;
    }
    .texto_hero {
        position: relative; 
        z-index: 1; 
        max-width: 80%;
        text-align:end;
    }
}

.boton{
    background-color: $color-primario;
    color: white;
    &:hover{
        background-color: white;
        color: $color-primario;
    }
}

.grilla-instalaciones {
    min-height: 100vh;
    width: auto;
    max-width: 100vw; /* No más ancho que la pantalla */
    display: grid;
    grid-template-columns: repeat(12, 1fr); /* 12 columnas de igual tamaño */
    grid-template-rows: repeat(12, auto);    /* 12 filas de igual tamaño */
    grid-template-areas:
        "inst-1 inst-1 inst-4 inst-4 inst-4 inst-6 inst-6 inst-8 inst-8 inst-8 inst-10 inst-10"
        "inst-1 inst-1 inst-4 inst-4 inst-4 inst-6 inst-6 inst-8 inst-8 inst-8 inst-10 inst-10"
        "inst-1 inst-1 inst-4 inst-4 inst-4 inst-6 inst-6 inst-8 inst-8 inst-8 inst-10 inst-10"
        "inst-2 inst-2 inst-4 inst-4 inst-4 inst-6 inst-6 inst-8 inst-8 inst-8 inst-10 inst-10"
        "inst-2 inst-2 inst-4 inst-4 inst-4 inst-7 inst-7 inst-8 inst-8 inst-8 inst-10 inst-10"
        "inst-2 inst-2 inst-5 inst-5 inst-5 inst-7 inst-7 inst-8 inst-8 inst-8 inst-10 inst-10"
        "inst-2 inst-2 inst-5 inst-5 inst-5 inst-7 inst-7 inst-9 inst-9 inst-9 inst-10 inst-10"
        "inst-2 inst-2 inst-5 inst-5 inst-5 inst-7 inst-7 inst-9 inst-9 inst-9 inst-10 inst-10"
        "inst-2 inst-2 inst-5 inst-5 inst-5 inst-7 inst-7 inst-9 inst-9 inst-9 inst-11 inst-11"
        "inst-3 inst-3 inst-5 inst-5 inst-5 inst-7 inst-7 inst-9 inst-9 inst-9 inst-11 inst-11"
        "inst-3 inst-3 inst-5 inst-5 inst-5 inst-7 inst-7 inst-9 inst-9 inst-9 inst-11 inst-11"
        "inst-3 inst-3 inst-5 inst-5 inst-5 inst-7 inst-7 inst-9 inst-9 inst-9 inst-11 inst-11";
}

.grilla-1 { grid-area: inst-1; }
.grilla-2 { grid-area: inst-2; }
.grilla-3 { grid-area: inst-3; }
.grilla-4 { grid-area: inst-4; }
.grilla-5 { grid-area: inst-5; }
.grilla-6 { grid-area: inst-6; }
.grilla-7 { grid-area: inst-7; }
.grilla-8 { grid-area: inst-8; }
.grilla-9 { grid-area: inst-9; }
.grilla-10 { grid-area: inst-10; }
.grilla-11 { grid-area: inst-11; }

.grilla-instalaciones div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    padding: 5px;
}

@media (max-width: 600px) {
    .grilla-instalaciones {
        grid-template-columns: repeat(6, 1fr); /* 12 columnas de igual tamaño */
        grid-template-rows: repeat(20, auto);    /* 12 filas de igual tamaño */
        grid-template-areas:
        "inst-1 inst-1 inst-2 inst-2 inst-2 inst-2"
        "inst-1 inst-1 inst-2 inst-2 inst-2 inst-2"
        "inst-3 inst-3 inst-2 inst-2 inst-2 inst-2"
        "inst-3 inst-3 inst-2 inst-2 inst-2 inst-2"
        "inst-3 inst-3 inst-4 inst-4 inst-5 inst-5"
        "inst-3 inst-3 inst-4 inst-4 inst-5 inst-5"
        "inst-3 inst-3 inst-4 inst-4 inst-5 inst-5"
        "inst-3 inst-3 inst-4 inst-4 inst-5 inst-5"
        "inst-6 inst-6 inst-6 inst-7 inst-7 inst-7"
        "inst-6 inst-6 inst-6 inst-7 inst-7 inst-7"
        "inst-6 inst-6 inst-6 inst-7 inst-7 inst-7"
        "inst-6 inst-6 inst-6 inst-7 inst-7 inst-7"
        "inst-8 inst-8 inst-9 inst-9 inst-10 inst-10"
        "inst-8 inst-8 inst-9 inst-9 inst-10 inst-10"
        "inst-8 inst-8 inst-9 inst-9 inst-10 inst-10"
        "inst-8 inst-8 inst-9 inst-9 inst-10 inst-10"
        "inst-8 inst-8 inst-9 inst-9 inst-10 inst-10"
        "inst-11 inst-11 inst-9 inst-9 inst-10 inst-10"
        "inst-11 inst-11 inst-9 inst-9 inst-10 inst-10"
        "inst-11 inst-11 inst-9 inst-9 inst-10 inst-10";
    }
}

.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .testimonial-card {
        background: $color-primario;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        .testimonial-img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            object-fit: cover;
            margin-bottom: 15px;
        }
        .testimonial-text {
            font-size: 14px;
            font-style: italic;
            color: white;
            margin-bottom: 15px;
            margin-left: 5px;
            margin-right: 5px;
        }
        .testimonial-name {
            font-weight: bold;
            margin-bottom: 2px;
            color: white;
        }
        .testimonial-role {
            font-size: 12px;
            color: white;
        }
        .company-name {
            color: white;
            font-weight: bold;
        }
        .quote-icon {
            position: absolute;
            top: -40px;
            left: 10px;
            font-size: 80px;
            color: $color-secundario;
        }
    }
}

/*CONTACTO*/

.formulario{
    background-color:rgba(128, 128, 128, 0.433);
    box-shadow: 2px 2px 5px gray;
    max-width: 600px;
    .lineas_formulario{
        display: flex;
        flex-direction: column;
        padding: 5px;
        justify-content: space-evenly;
        .label{
            width: 100%;
            padding-bottom: 2px;
        }
        .cuadro_texto{
            width: 100%;
        }
    }
}

/*PRODUCTOS*/

.productos_desarrollado{
    display: flex;
    align-items:flex-end;
}

@media (min-width: 500px) {
    .productos_desarrollado{
        align-items: end;
    }
}

.tarjetas-productos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 20%;
    min-height: 100%;
}

/*QUIENES SOMOS*/
.quienes-somos {
    position: relative; /* Asegurar que los elementos hijos absolutos se posicionen dentro */
    justify-content: center;
    text-align: center;
    #background-video_quienes-somos {
        position: absolute;
        top: 0; 
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
        z-index: -0.95;
    }
    .contenedor_valores {
        position: relative; 
        z-index: 1; 
    }
}

.caja_valores{
    .contenedor_caja_valores{
        background-color: rgb(246, 246, 246);
        display: flex;
        flex-direction: column;
        justify-content: center; align-items: center;
        padding:10px;
        margin: 10px;
        box-shadow: 4px 4px 10px rgba(128, 128, 128, 0.633);
        min-height: 50vh;
    }
}

.icono_quienessomos{
    padding: 10px;
    margin: 10px;
    border: 2px solid $color-primario;
    border-radius: 50%;
    img{
        max-width: 80px;
        min-width: 80px;
        max-height: 80px;
        min-height: 80px;
        object-fit: contain;
        }
}






